<template>
  <require from="../resources/elements/poi-form"></require>
  <require from="../resources/elements/poi-list"></require>
  <require from="../resources/elements/total-added"></require>

      <div class="ui stackable two column grid">
        <div class="column">
          <poi-form pois.bind="pois" category.bind="category"></poi-form>
        </div>
        <div class="two wide column">
          <total-added total.bind="total"></total-added>
        </div>
        <div class="column">
          <poi-list pois.bind="pois"></poi-list>
        </div>
  </div>
</template>
